/* .header {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
} */